p {
 	font-family: 'PT Sans', sans-serif;	
 }

a {
	font-family: 'PT Sans', sans-serif;	
 }

/*BACKGROUND*/
#bloc1 {
	background-image: url(PICTURES/hero-bg.jpg);
	background-size: cover;

	width: 100%;
	height: auto;
	overflow: hidden;
}

/*SWITCH*/
#switch{
	position: absolute;
	width: 32px;
	height: 196px;

	margin-top: 420px;
	margin-left: 50px;
}

.circle {
	width: 16px;
	height: 16px;

	border-radius: 100%;
	background-color: #9b9caa;
	margin-bottom: 20px;
}

.circle div:hover{
	border: 1px solid white;
	background-color: none;
}

/*HEADER*/
#header{
	overflow: hidden;
	margin: 0 20px;
}

#header>img {
 	float: left;
 }

#header ul {
	float: right;
	overflow: hidden;

	vertical-align: middle;
	line-height: 128px;
 }

#header ul, li {
 	display: inline;
 	text-decoration: none;
 	list-style: none;

 	margin: 0 20px;
 }

#header ul, li, a{
	font-family: 'PT Sans', sans-serif;
 	font-size: 18px;
 	color: #adadad;
 	text-decoration: none;
}

#header li{
	float: left;
}

#header a:hover{
	color: white;
}

/*TEST DRIVE*/
#content {
	overflow: hidden;
	margin-top: 170px;
}

.car {
	width: 25%;

 	margin-right: 13%;
 	padding-bottom: 160px;

 	float: right;

 	background: url("PICTURES/bullets_bottom.png") no-repeat bottom left;
 }

.car h1{
	font-family: 'PT Sans', sans-serif;	
 	font-size: 36px;
 	color: white;
	font-weight: bold;
}

.car p{
	margin: 20px 0;
 	color:#cdcdcd;

 	line-height: 22px;
}

.car a{
	font-size: 21px;
	font-weight: bold;
	color: white;
	text-decoration: none;

	border: 3px solid;
	border-radius: 5px;

	padding: 15px 20px;

	float: left;

	display: inline-block;
}

.car a:hover{
	background-color: white;
	color: #adadad;

	border-color: white;
}

.car img{
	float: left; 
}

/*SPECIFICATION*/
#spec{ 
	width: 100%;
	height: 540px; 
}

#spec>div{
	width: 33.33%;
	float: left;

	margin-top: 120px;
}


#spec>div h2{
	font-size: 108px;
	font-weight: lighter;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	margin-left: 160px;
}

#spec>div span{
	font-size: 52px;
	font-weight: lighter;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	position: absolute;

}

#spec>div p{
	font-size: 15px;
	font-weight: lighter;
	font-family: 'PT Sans', sans-serif;	
	color: #bcbcbd;

	margin-top: 25px;
	margin-left: 160px;
}

/*INTERIOR-EXTERIOR*/

#interior-exterior {
	width: 100%;
	height: 700px;
}

#interior-exterior>div {
	float: right;
	width: 50%;
	height: 350px
}

#exterior{
	background-color: #62647d;
}

#exterior p{
	margin: 0px 83px 178px 160px;
	color: #c1c1c4;
	line-height: 20px;
	font-family: 'PT Sans', sans-serif;
}

#exterior h2{
	margin: 100px 0px 30px 160px;
	color: white;
	font-size: 30px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}

#exterior img{
	position: absolute;
	margin-left: 20px;
}

#interior{
	background-color: #30313e;
}

#interior p{
	margin: 0px 265px 178px 160px;
	color: #c1c1c4;
	line-height: 20px;
	font-family: 'PT Sans', sans-serif;
}

#interior h2{
	margin: 90px 0px 30px 160px;
	color: white;
	font-size: 30px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}

#bullets_left{
	position: absolute;

	margin-top: 28.5%;
	margin-left: 48% 

}

#img-ext{
	background-image: url(PICTURES/exterior.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

#img-int{
	background-image: url(PICTURES/interior.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

/*JOIN US*/
#join {
	width: 100%;
	height: 290px;

	background-color: #ffffff;
	position: relative;
}

#join form{
	position: absolute;
	text-align: center;
	margin-top: 80px;
	left: 50%;
	margin-left: -305.5px;
}

#join input{
	width: 520px;
	height: 90px;

	margin-bottom: 33px;

	background-color: #23242e;
	border: 0px;
	border-radius: 5px;

	color: white;
	font-size: 21px; 
	font-weight: bold;
}

#join p{
	font-style: italic;
	color: #62647d;
	text-align: center;
}

/*FOOTER*/
#footer {
	width: 100%;
	height: 120px;

	background-color: #62647d;
}

#footer img{
	position: absolute;
	margin-top: 34px;
	left: 50%;
	margin-left: -34px;
}