p {
 	font-family: 'PT Sans', sans-serif;	
 }

a {
	font-family: 'PT Sans', sans-serif;	
 }

#bloc1 {
	background-image: url(PICTURES/hero-bg.jpg);
	background-size: cover;

	width: 100%;
	height: auto;
	overflow: hidden;
}

 #header>img {
 	float: left;
 }

 #header ul {
	float: right;
	overflow: hidden;

	vertical-align: middle;
	line-height: 128px;
 }

#header ul, li {
	float: left;
 	display: inline;
 	text-decoration: none;
 	list-style: none;

 	margin: 0 20px;
 }

#header ul, li, a{
	float: right;
	font-family: 'PT Sans', sans-serif;
 	font-size: 20px;
 	color: #161616;
 	text-decoration: none;
}

.car {
 	margin-top: 128px;
 	margin-right: 15%;
 	padding-bottom: 160px;

 	float: right;

 	width: 20%;
 	background: url("PICTURES/bullets_bottom.png") no-repeat bottom left;
 }

.car h1{
	font-family: 'PT Sans', sans-serif;	
 	font-size: 36px;
 	color: white;
	font-weight: bold;
}

.car p{
	margin: 20px 0;
 	color:#cdcdcd;
}

.car a{
	font-size: 21px;
	font-weight: bold;
	color: white;
	text-decoration: none;

	border: 3px solid;
	border-radius: 5px;

	padding: 15px 20px;

	float: left;

	display: inline-block;
}

.car img{
	float: left; 
}